body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formulario {
  margin-bottom: 20px;
}

#cartinha {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

#mensagem {
  white-space: pre-wrap;
}